<% flash.each do |flash_key, flash_message| %>
<div id="<%= flash_key %>" class="ds_notification  ds_reversed" data-module="ds-notification"  data-closable>
  <div class="ds_wrapper">
      <div class="ds_notification__content  ds_notification__content--has-close">
          <h2 class="visually-hidden"><%= flash_key %></h2>

          <div class="ds_notification__text">
              <p><%= sanitize(flash_message) %> </a></p>
          </div>

          <button class="close-button-white" type="button" data-close>
              <span class="visually-hidden"><%= t("application.close") %></span>
                <span aria-hidden="true">&times;</span>
          </button>
      </div>
  </div>
</div>
<% end %>